
/* Results panel variant styles */
#carbon-visualizer-results-panel {
  &.cv-panel--results {
    text-align: center;
    background: linear-gradient(to bottom,var(--cv-primary-green-10), var(--cv-primary-green-70) 80%);
    color: var(--cv-white);
  }

  .cv-results__icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .cv-results__title {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cv-white);
  }

  .cv-results__description {
    margin: 0 0 2rem 0;
    color: var(--cv-white);
    line-height: 1.5;
  }

  .cv-results__sections {
    text-align: start;
    margin-bottom: 2.0rem;
  }

  .cv-results__group {
    padding: 1.0rem;
    border: 1px solid currentColor;
    border-inline-start-width: 4px;
    border-radius: 1.0rem;
  }

  .cv-results__group > *:first-child {
    margin-block-start: 0;
  }

  .cv-results__group > *:last-child {
    margin-block-end: 0;
  }

  .cv-results__details summary {
    margin-block-end: 0.5rem;
  }

  /* Summary Component */
  .cv-summary {
    width: 100%;
  }

  .cv-summary__grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background-color: var(--cv-primary-green-90);
    border-radius: 0.5rem;
    align-items: center;
  }

  .cv-summary__totals {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .cv-summary__totals--userSite .cv-summary__totals--content:first-child {
    font-weight: 700;
    color: var(--cv-primary-green-30);
    line-height: 1.2;
  }

  .cv-summary__totals--userSite .cv-summary__totals--content:last-child {
    font-weight: 500;
    color: var(--cv-primary-green-40);
    line-height: 1.4;
  }

  .cv-summary__totals--comparison .cv-summary__totals--content:first-child {
    font-weight: 600;
    color: var(--cv-primary-green-30);
    line-height: 1.4;
  }

  .cv-summary__totals--comparison .cv-summary__totals--content:last-child {
    font-weight: 500;
    color: var(--cv-primary-green-40);
    line-height: 1.5;
  }
}
