
/* Results panel variant styles */

.cv-panel--results {
  text-align: center;
  background: linear-gradient(to bottom,var(--cv-primary-green-10), var(--cv-primary-green-70) 80%);
  color: var(--cv-white);
}

.cv-results__icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cv-results__title {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--cv-white);
}

.cv-results__description {
  margin: 0 0 2rem 0;
  color: var(--cv-white);
  line-height: 1.5;
}

.cv-results__sections {
  text-align: start;
  margin-bottom: 2.0rem;
}

.cv-results__group {
  padding: 1.0rem;
  border: 1px solid currentColor;
  border-inline-start-width: 4px;
  border-radius: 1.0rem;
}

.cv-results__group > *:first-child {
  margin-block-start: 0;
}

.cv-results__group > *:last-child {
  margin-block-end: 0;
}

.cv-results__details summary {
  margin-block-end: 0.5rem;
}