#carbon-visualizer-welcome-panel {
  --cv-color-pink: oklch(50.0% 0.200 345);
  --cv-color-pink-base: 0.05;
  --cv-color-pink-10: oklch(from var(--cv-color-pink) 10% calc(var(--cv-color-pink-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-pink-20: oklch(from var(--cv-color-pink) 20% calc(var(--cv-color-pink-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-pink-30: oklch(from var(--cv-color-pink) 30% calc(var(--cv-color-pink-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-pink-40: oklch(from var(--cv-color-pink) 40% calc(var(--cv-color-pink-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-pink-50: oklch(from var(--cv-color-pink) 50% calc(var(--cv-color-pink-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-pink-60: oklch(from var(--cv-color-pink) 60% calc(var(--cv-color-pink-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-pink-70: oklch(from var(--cv-color-pink) 70% calc(var(--cv-color-pink-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-pink-80: oklch(from var(--cv-color-pink) 80% calc(var(--cv-color-pink-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-pink-90: oklch(from var(--cv-color-pink) 90% calc(var(--cv-color-pink-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-pink-100: oklch(from var(--cv-color-pink) 100% calc(var(--cv-color-pink-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-red: oklch(50.0% 0.200 15);
  --cv-color-red-base: 0.05;
  --cv-color-red-10: oklch(from var(--cv-color-red) 10% calc(var(--cv-color-red-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-red-20: oklch(from var(--cv-color-red) 20% calc(var(--cv-color-red-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-red-30: oklch(from var(--cv-color-red) 30% calc(var(--cv-color-red-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-red-40: oklch(from var(--cv-color-red) 40% calc(var(--cv-color-red-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-red-50: oklch(from var(--cv-color-red) 50% calc(var(--cv-color-red-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-red-60: oklch(from var(--cv-color-red) 60% calc(var(--cv-color-red-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-red-70: oklch(from var(--cv-color-red) 70% calc(var(--cv-color-red-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-red-80: oklch(from var(--cv-color-red) 80% calc(var(--cv-color-red-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-red-90: oklch(from var(--cv-color-red) 90% calc(var(--cv-color-red-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-red-100: oklch(from var(--cv-color-red) 100% calc(var(--cv-color-red-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-orange: oklch(50.0% 0.200 45);
  --cv-color-orange-base: 0.05;
  --cv-color-orange-10: oklch(from var(--cv-color-orange) 10% calc(var(--cv-color-orange-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-orange-20: oklch(from var(--cv-color-orange) 20% calc(var(--cv-color-orange-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-orange-30: oklch(from var(--cv-color-orange) 30% calc(var(--cv-color-orange-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-orange-40: oklch(from var(--cv-color-orange) 40% calc(var(--cv-color-orange-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-orange-50: oklch(from var(--cv-color-orange) 50% calc(var(--cv-color-orange-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-orange-60: oklch(from var(--cv-color-orange) 60% calc(var(--cv-color-orange-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-orange-70: oklch(from var(--cv-color-orange) 70% calc(var(--cv-color-orange-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-orange-80: oklch(from var(--cv-color-orange) 80% calc(var(--cv-color-orange-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-orange-90: oklch(from var(--cv-color-orange) 90% calc(var(--cv-color-orange-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-orange-100: oklch(from var(--cv-color-orange) 100% calc(var(--cv-color-orange-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-yellow: oklch(50.0% 0.200 90);
  --cv-color-yellow-base: 0.05;
  --cv-color-yellow-10: oklch(from var(--cv-color-yellow) 10% calc(var(--cv-color-yellow-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-yellow-20: oklch(from var(--cv-color-yellow) 20% calc(var(--cv-color-yellow-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-yellow-30: oklch(from var(--cv-color-yellow) 30% calc(var(--cv-color-yellow-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-yellow-40: oklch(from var(--cv-color-yellow) 40% calc(var(--cv-color-yellow-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-yellow-50: oklch(from var(--cv-color-yellow) 50% calc(var(--cv-color-yellow-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-yellow-60: oklch(from var(--cv-color-yellow) 60% calc(var(--cv-color-yellow-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-yellow-70: oklch(from var(--cv-color-yellow) 70% calc(var(--cv-color-yellow-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-yellow-80: oklch(from var(--cv-color-yellow) 80% calc(var(--cv-color-yellow-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-yellow-90: oklch(from var(--cv-color-yellow) 90% calc(var(--cv-color-yellow-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-yellow-100: oklch(from var(--cv-color-yellow) 100% calc(var(--cv-color-yellow-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-green: oklch(50.0% 0.200 135);
  --cv-color-green-base: 0.05;
  --cv-color-green-10: oklch(from var(--cv-color-green) 10% calc(var(--cv-color-green-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-green-20: oklch(from var(--cv-color-green) 20% calc(var(--cv-color-green-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-green-30: oklch(from var(--cv-color-green) 30% calc(var(--cv-color-green-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-green-40: oklch(from var(--cv-color-green) 40% calc(var(--cv-color-green-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-green-50: oklch(from var(--cv-color-green) 50% calc(var(--cv-color-green-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-green-60: oklch(from var(--cv-color-green) 60% calc(var(--cv-color-green-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-green-70: oklch(from var(--cv-color-green) 70% calc(var(--cv-color-green-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-green-80: oklch(from var(--cv-color-green) 80% calc(var(--cv-color-green-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-green-90: oklch(from var(--cv-color-green) 90% calc(var(--cv-color-green-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-green-100: oklch(from var(--cv-color-green) 100% calc(var(--cv-color-green-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-teal: oklch(50.0% 0.200 190);
  --cv-color-teal-base: 0.05;
  --cv-color-teal-10: oklch(from var(--cv-color-teal) 10% calc(var(--cv-color-teal-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-teal-20: oklch(from var(--cv-color-teal) 20% calc(var(--cv-color-teal-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-teal-30: oklch(from var(--cv-color-teal) 30% calc(var(--cv-color-teal-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-teal-40: oklch(from var(--cv-color-teal) 40% calc(var(--cv-color-teal-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-teal-50: oklch(from var(--cv-color-teal) 50% calc(var(--cv-color-teal-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-teal-60: oklch(from var(--cv-color-teal) 60% calc(var(--cv-color-teal-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-teal-70: oklch(from var(--cv-color-teal) 70% calc(var(--cv-color-teal-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-teal-80: oklch(from var(--cv-color-teal) 80% calc(var(--cv-color-teal-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-teal-90: oklch(from var(--cv-color-teal) 90% calc(var(--cv-color-teal-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-teal-100: oklch(from var(--cv-color-teal) 100% calc(var(--cv-color-teal-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-blue: oklch(50.0% 0.200 240);
  --cv-color-blue-base: 0.05;
  --cv-color-blue-10: oklch(from var(--cv-color-blue) 10% calc(var(--cv-color-blue-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-blue-20: oklch(from var(--cv-color-blue) 20% calc(var(--cv-color-blue-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-blue-30: oklch(from var(--cv-color-blue) 30% calc(var(--cv-color-blue-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-blue-40: oklch(from var(--cv-color-blue) 40% calc(var(--cv-color-blue-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-blue-50: oklch(from var(--cv-color-blue) 50% calc(var(--cv-color-blue-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-blue-60: oklch(from var(--cv-color-blue) 60% calc(var(--cv-color-blue-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-blue-70: oklch(from var(--cv-color-blue) 70% calc(var(--cv-color-blue-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-blue-80: oklch(from var(--cv-color-blue) 80% calc(var(--cv-color-blue-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-blue-90: oklch(from var(--cv-color-blue) 90% calc(var(--cv-color-blue-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-blue-100: oklch(from var(--cv-color-blue) 100% calc(var(--cv-color-blue-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-purple: oklch(50.0% 0.200 285);
  --cv-color-purple-base: 0.05;
  --cv-color-purple-10: oklch(from var(--cv-color-purple) 10% calc(var(--cv-color-purple-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-purple-20: oklch(from var(--cv-color-purple) 20% calc(var(--cv-color-purple-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-purple-30: oklch(from var(--cv-color-purple) 30% calc(var(--cv-color-purple-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-purple-40: oklch(from var(--cv-color-purple) 40% calc(var(--cv-color-purple-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-purple-50: oklch(from var(--cv-color-purple) 50% calc(var(--cv-color-purple-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-purple-60: oklch(from var(--cv-color-purple) 60% calc(var(--cv-color-purple-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-purple-70: oklch(from var(--cv-color-purple) 70% calc(var(--cv-color-purple-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-purple-80: oklch(from var(--cv-color-purple) 80% calc(var(--cv-color-purple-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-purple-90: oklch(from var(--cv-color-purple) 90% calc(var(--cv-color-purple-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-purple-100: oklch(from var(--cv-color-purple) 100% calc(var(--cv-color-purple-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-magenta: oklch(50.0% 0.200 330);
  --cv-color-magenta-base: 0.05;
  --cv-color-magenta-10: oklch(from var(--cv-color-magenta) 10% calc(var(--cv-color-magenta-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-magenta-20: oklch(from var(--cv-color-magenta) 20% calc(var(--cv-color-magenta-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-magenta-30: oklch(from var(--cv-color-magenta) 30% calc(var(--cv-color-magenta-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-magenta-40: oklch(from var(--cv-color-magenta) 40% calc(var(--cv-color-magenta-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-magenta-50: oklch(from var(--cv-color-magenta) 50% calc(var(--cv-color-magenta-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-magenta-60: oklch(from var(--cv-color-magenta) 60% calc(var(--cv-color-magenta-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-magenta-70: oklch(from var(--cv-color-magenta) 70% calc(var(--cv-color-magenta-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-magenta-80: oklch(from var(--cv-color-magenta) 80% calc(var(--cv-color-magenta-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-magenta-90: oklch(from var(--cv-color-magenta) 90% calc(var(--cv-color-magenta-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-magenta-100: oklch(from var(--cv-color-magenta) 100% calc(var(--cv-color-magenta-base) + (sin(0.1 * pi) * c)) h);

  --cv-color-gray: oklch(50.0% 0.000 0);
  --cv-color-gray-base: 0;
  --cv-color-gray-10: oklch(from var(--cv-color-gray) 10% calc(var(--cv-color-gray-base) + (sin(1.0 * pi) * c)) h);
  --cv-color-gray-20: oklch(from var(--cv-color-gray) 20% calc(var(--cv-color-gray-base) + (sin(0.9 * pi) * c)) h);
  --cv-color-gray-30: oklch(from var(--cv-color-gray) 30% calc(var(--cv-color-gray-base) + (sin(0.8 * pi) * c)) h);
  --cv-color-gray-40: oklch(from var(--cv-color-gray) 40% calc(var(--cv-color-gray-base) + (sin(0.7 * pi) * c)) h);
  --cv-color-gray-50: oklch(from var(--cv-color-gray) 50% calc(var(--cv-color-gray-base) + (sin(0.6 * pi) * c)) h);
  --cv-color-gray-60: oklch(from var(--cv-color-gray) 60% calc(var(--cv-color-gray-base) + (sin(0.5 * pi) * c)) h);
  --cv-color-gray-70: oklch(from var(--cv-color-gray) 70% calc(var(--cv-color-gray-base) + (sin(0.4 * pi) * c)) h);
  --cv-color-gray-80: oklch(from var(--cv-color-gray) 80% calc(var(--cv-color-gray-base) + (sin(0.3 * pi) * c)) h);
  --cv-color-gray-90: oklch(from var(--cv-color-gray) 90% calc(var(--cv-color-gray-base) + (sin(0.2 * pi) * c)) h);
  --cv-color-gray-100: oklch(from var(--cv-color-gray) 100% calc(var(--cv-color-gray-base) + (sin(0.1 * pi) * c)) h);
}
